<h1>Method Eercises</h1>
<p> <% x = rand(MethodNameList.first.id..MethodNameList.last.id) %></p>
<p> checking x value <%= x %> </p>
			<% @user= MethodNameList.find(x) %>
			<h2> <%= button_to "Show next method", exercises_path, :method => :get %>
			<p> Class Name is: <%= @user[:method_name_hash][:class_name_list] %></p>
<% count = @user[:method_name_hash][:method_name_list].length %>
<% class_all_methods = @user[:method_name_hash][:method_name_list] %>
<% count %>
<p>method from that class is: <%= @user[:method_name_hash][:method_name_list][rand(0..count)] %></p>
      <h1>
        <%= current_user.name %>
      </h1>
<section>
Fill in your method notes below
<%= render 'shared/methodpost_form' %>
<p><%= @methodpost.content %></p>

</section>
<p> <%= current_user.method_posts.all %> </p>
<p><%= @methodpost.content %></p>
<p><%= @methodpost.content %></p>

<%= class_all_methods %>

