<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<h1> display Class cards below </h1>
	<div class="">
		<section class="">
		<% x = rand(ClassListDataInfo.first.id..ClassListDataInfo.last.id) %>
			<p> checking x value <%= x %> </p>
			<% @class= ClassListDataInfo.find(x) %>
			<h3> Class Name is: <%= @class.class_name %></h3>

			
			<button type="button" class="click-class" onclick="click">click</button>
			<section>
			<div id="card-refresh" class="hidden" >
			<p>Hidden</p>
			</div>
			</section>
		




			<% if @class.class_name_description.blank? %>
			<div class="class-info-empty">
			<p> No class info</p>
			</div>
			<% else %>
			<div class="not-empty">
			<section>
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#classinfo" area-expanded="false" aria-controls="#classinfo">
				click here for class info
				</button>
				<div class="collapse" id="classinfo" aria-expanded="false">
					<div style="font-size:14pt"> <%= @class.class_name_description %> 
					</div>
					</div>
			</section>
			</div>
			<%end%>
<section>
	<div>
	<p> <%= link_to "click here to do method exercise!", exercises_path %> </p>
	</div>
</section>