<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<h1> display Class cards below </h1>
	<div class="">
		<section class="">
		<% x = rand(1..ClassListDataInfo.all.count) %>
			<p> checking x value <%= x %> </p>
			<h3> Class Name is: </h3>
			<p>  <%= ClassListDataInfo.find(x).class_name %> check name </p>
			<p>  <%= ClassListDataInfo.find(x).class_name_description %> check descrip </p>
			<p> checking for refreshing cards </p>
			<button type="button" class="click-class" onclick="click(this)"> click for class name </button>
			<div class="hidden" id="card-refresh">
			Hidden
			<p> Hidden hidden content line <%= ClassListDataInfo.find(1).class_name %> </p>
			</div>
			<p> card should rotate above </p>
			</div>
		</section>
	</div>


